{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>

{%for k in range(len1)%}
<table class="student-table">
    <thead>
    <tr>
        <th bgcolor='#CA0000 '><b>{{classes[k]['class_name']}}</b></th>
    </tr>
    </thead>
    <tbody>
    <table class="student-table">
        <thead>
        <tr>
            <th bgcolor='#CA0000 '><b></b></th>
            <th bgcolor='#CA0000 '><b>Assignment name</b></th>
            <th bgcolor='#CA0000 '><b>Due Date</b></th>
            <th bgcolor='#CA0000 '><b>Assignment Type</b></th>
        </tr>
        </thead>
        <tbody>
            {%for i in range(0, amount)%}
                {%if data[i]['class_id'] == classes[k]['class_id']%}
                <tr>
                <td class="tg-0lax"><a href="{{url_for('delete_assignment', data=data[i][assignment_name])}}">-</a></td>
                <td class="tg-0lax">{{data[i]["assignment_name"]}}</td>
                <td class="tg-0lax">{{data[i]["due_date"]}}</td>
                <td class="tg-0lax">{{data[i]["assignment_type"]}}</td>
                </tr>
                {%endif%}
            {%endfor%}
          </tbody>
        </table>
    </tbody>
    </table>
    <!--<a href="{{ url_for('add_assignment') }}"><i></i>+</a> -->


{%endfor%}

 

    <style type="text/css">

.bordered-tab-contents > .tab-content > .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.bordered-tab-contents > .nav-tabs {
    margin-bottom: 0;
}


</style>




{% endblock %}