{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, Teacher </p>

{%for i in range(0, aa)%}
<table class="student-table">
  <thead>
    <tr>
      <th bgcolor='#CA0000 '><b>{{data[i]['class_name']}}</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for k in range(0, bb)%}
        {%if data1[k]['class_id'] == data[i]['class_id']%}
          <td class="tg-0lax"><a href="{{url_for('view_assignments_from_teacher', student_id = data1[k]['student_id'], class_id=data1[k]['class_id'])}}">{{data1[k]['first_name']}} </a></tr>
        {%endif%}
      {%endfor%}
  </tbody>
  </table>
{%endfor%}


<style type="text/css">


.bordered-tab-contents > .tab-content > .tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.bordered-tab-contents > .nav-tabs {
    margin-bottom: 0;
}


</style>




{% endblock %}