{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, Teacher </p>

{%for i in range(0, aa)%}
<table class="student-table">
  <thead>
    <tr>
      <th bgcolor='#CA0000 '><b>{{data[i]['class_name']}}</b></th>

    </tr>
  </thead>
  <tbody>
    <tr>
      {%for k in range(0, bb)%}
        {%if data1[i]['class_id'] == data[i]['class_id']%}
          <td class="tg-0lax">{{data1[k]['first_name']}} </tr>
        {%endif%}
      {%endfor%}
  </tbody>
  </table>
  {%endfor%}



<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  overflow:hidden;padding:10px 30px;word-break:normal;}
.tg th{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>




{% endblock %}