<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1 bgcolor='#FF0303'>Cinday Academy Grade Book</h1>
				<a href="{{ url_for('teacher_home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
				<a href="{{ url_for('seeAssignmentsFromClass') }}"><i class="fa fa-pencil-square-o"></i>Assignments</a>
				<a href="{{ url_for('add_assignment') }}"><i class="fas fa fa-plus" aria-hidden="true"></i>Add Assignment</a>


			</div>

		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>