{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2> Assignments </h2>


{%if amount > 0%}
<table class="student-table">
<thead>
  <tr>
    <th bgcolor='#CA0000 '><b></b></th>
    <th bgcolor='#CA0000 '><b>Assignment Name</b></th>
    <th bgcolor='#CA0000 '><b>Due Date</b></th>
    <th bgcolor='#CA0000 '><b>Grade</b></th>
  </tr>
</thead>
<tbody>
  {%for i in range(0, amount)%}
  <tr>
    <td class="tg-0lax"><a href="{{url_for('delete_assignment_from_student', class_name=account[i]['assignment_name'], student_id=student_id, asssignment_name=account[i]['assignment_name'])}}">-</a></td> 
    <td class="tg-0lax">{{account[i]['assignment_name']}}</td>
    <td class="tg-0lax">{{account[i]['due_date']}}</td>
    <td class="tg-0lax">{{account[i]['grade']}}</td>
  </tr>
  {%endfor%}
</tbody>
</table>
{%endif%}
{%if amount == 0%}
  <p>This student has no assignments</p>
{%endif%}


<!-- <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  overflow:hidden;padding:10px 30px;word-break:normal;}
.tg th{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
 -->



{% endblock %}